---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Samuel Fuentes" description="About Samuel Fuentes - A passionate developer.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thank you for visiting! Below, you’ll find insights into my background, expertise, and the journey that has shaped my professional career."
			>
				<img
					width="1553"
					height="873"
					src="/assets/Samuel1.png"
					alt="Samuel"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						With a strong foundation in technology and software engineering, I bring a diverse set of experiences
						that enhance my role as a Front-End Developer and Educator. My expertise spans modern web development
						frameworks, backend systems, and multilingual communication, enabling me to excel in technical, global,
						and cross-functional environments.
					</p>
					<p>
						As a skilled Front-End Developer, I specialize in building user-focused, high-performance web applications
						using React.js, Next.js, Angular, and Tailwind CSS. I have a proven track record of designing responsive
						interfaces, optimizing page performance, and delivering seamless user experiences that drive engagement
						and customer satisfaction.
					</p>
					<p>
						In addition to front-end expertise, I have substantial experience with Java, Spring Boot, and Vaadin,
						which I utilized to develop an AI-powered chatbot for customer support and education. This project
						demonstrated my ability to integrate AI models, implement robust backend architectures, and deliver
						scalable solutions. Leveraging Docker, I ensured seamless containerization and deployment, showcasing
						my proficiency in modern DevOps practices.
					</p>
					<p>
						Fluent in Spanish, English, French, Portuguese, and Italian, I excel at collaborating across cultural and
						linguistic boundaries. My background as a language educator has sharpened my ability to communicate
						complex technical ideas effectively and adapt to diverse audiences, bridging gaps between technical and
						non-technical stakeholders.
					</p>
					<p>
						Driven by a passion for innovation and problem-solving, I thrive in dynamic environments where I can
						apply my technical expertise, learn continuously, and contribute to impactful projects. I am excited
						to bring my skills to forward-thinking teams and collaborate on solutions that make a meaningful
						difference.
					</p>

					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						<img src="/assets/arizona-state-university.jpg" alt="Arizona State University Logo" width="50" height="50" class="logo" />
						<strong>Arizona State University</strong> - TESOL Professional, Teaching English as a Second or Foreign Language/ESL Language Instructor, <em>Grade: A+</em>, Jan 2023 - Oct 2023.
					</p>
					<p>
						<img src="/assets/TEFL.jpg" alt="International TEFL Academy Logo" width="50" height="50" class="logo" />
						<strong>International TEFL Academy</strong> - TEFL Certification, Jan 2023 - Jun 2023.
					</p>
					<p>
						<img src="/assets/OpenBootcamp.jpg" alt="OpenBootcamp Logo" width="50" height="50" class="logo" />
						<strong>OpenBootcamp</strong> - Full Stack Developer Program, May 2023.
					</p>
					<p>
						<img src="/assets/UNERG.jpg" alt="Universidad Nacional Experimental de los Llanos Centrales 'Rómulo Gallegos' Logo" width="50" height="50" class="logo" />
						<strong>Universidad Nacional Experimental de los Llanos Centrales 'Rómulo Gallegos'</strong> - Engineer's degree in Informatics Engineering, Oct 2021 - Jun 2025.
					</p>
					<p>
						<img src="/assets/EF.jpg" alt="EF International Language Campuses Logo" width="50" height="50" class="logo" />
						<strong>EF International Language Campuses</strong> - English Language Studies, Jun 2022 - Jun 2023.
					</p>
					<p>
						<img src="/assets/University-of-Michigan.jpg" alt="University of Michigan Logo" width="50" height="50" class="logo" />
						<strong>University of Michigan</strong> - Python Programming, Jan 2020 - Dec 2023, <em>Grade: A+</em>.
					</p>
					<p>
						<img src="/assets/European-Open-University.jpg" alt="European Open University Logo" width="50" height="50" class="logo" />
						<strong>European Open University</strong> - Diploma in Software Engineering, Jan 2019 - Oct 2023.
					</p>
				</div>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
