---
interface Props {
 title: string;
 tagline?: string;
 align?: 'start' | 'center';
}

const { align = 'center', tagline, title } = Astro.props;
---

<div class:list={['hero stack gap-4', align]}>
 <div class="stack gap-2">
  <h1 class="title">
   <span class="typing-effect">{title}</span>
  </h1>
  {tagline && (
   <p class="tagline">{tagline}</p>
  )}
 </div>
 <slot />
</div>

<style>
.hero {
  font-size: var(--text-lg);
  text-align: center;
}

.title,
.tagline {
  max-width: 37ch;
  margin-inline: auto;
}

.title {
  font-size: var(--text-3xl);
  color: var(--gray-0);
}

.typing-effect {
  display: inline-block;
  overflow: hidden;
  position: relative;
  animation: typing 4s steps(22, end) forwards;
  max-width: 0;
  white-space: nowrap;
}

.typing-effect::after {
  content: '';
  display: inline-block;
  width: 0.15em;
  height: 1em;
  background: var(--gray-100, #fff);
  position: absolute;
  right: 0;
  top: 0;
  animation: blink-caret-hide 4s steps(5, end) forwards;
}

@keyframes typing {
  from { max-width: 0; }
  to { max-width: 100%; }
}

@keyframes blink-caret-hide {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
  99.9%, 100% { opacity: 0; }
}
@media (min-width: 50em) {
  .hero {
    font-size: var(--text-xl);
  }

  .start {
    text-align: start;
  }

  .start .title,
  .start .tagline {
    margin-inline: unset;
  }

  .title {
    font-size: var(--text-5xl);
  }
}
</style>