---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Front-End Developer</h2>
		<p>As a Front-End Developer, I specialize in creating dynamic and responsive user interfaces using technologies such as Angular, HTML5, CSS3, and JavaScript. My focus is on delivering intuitive and engaging user experiences across web applications.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="languages" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Multilingual Language Specialist</h2>
		<p>With proficiency in 5 languages, I bridge communication gaps and ensure clear, culturally aware interactions. My expertise in TESOL and TEFL allows me to engage in diverse global projects, delivering solutions that resonate across linguistic and cultural boundaries.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p>Combining my technical skills with strategic thinking, I approach projects with an innovative mindset. I leverage my Informatics Engineering background to design solutions that are both effective and forward-thinking, while ensuring clear communication in every step of the process.</p>
	</div>
</section>



<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
